<h3>Add item</h3>
<form action="/addItem" method="post">

    Category:
    <select name="category">
      <option value="Clothing">Clothing</option>
      <option value="Appliances">Appliances</option>
      <option value="Books">Books</option>
      <option value="Toys">Toys</option>
      <option value="Bedding">Bedding</option>
    </select>
    Subcategory:
    <select name="experience">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select> 
    <input type="hidden" name="is_walker" value="true">
   <button>Become a Walker</button>
</form>